# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [2]:
number = 123
print(number)
print(type(number))

6

##### Assinging float

In [6]:
my_float = 123.456
print(my_float)
print(type(my_float))

2.3
4.3

#### Performing Calculations on ints and floats

##### Addition

In [15]:
print(2+3)
my_var1=2
my_var2=3
print(my_var1 + my_var2)

7.7
9.7

In [2]:
my_new_num= 123
my_new_num += 2
print(my_new_num)

125

In [3]:
my_new_num = my_new_num + 2

##### Subtraction

In [4]:
num1 = 2
num2 = 5.7
result_diff= num1 - num2
print(result_diff)
print(type(result_diff))

-3.7
<class 'float'>

In [5]:
result_diff -= 3
result_diff

-6.7

##### Multiplication

In [6]:
result_prod = num1 * num2
print(result_prod)

11.4

##### Division

In [9]:
result_prod *= 2
print(result_prod)

91.2

##### Floor Division

In [10]:
result_div = 4/2
print(result_div)
print(type(result_div))

2.0

In [11]:
result_floor = 5//2
print(result_floor)

2

##### Modulo

In [13]:
result_mod = 5%2
print(result_mod)

1

##### Exponential

In [14]:
square = 5 ** 2
print(square)
square**= 2
print(square)

25
625

In [15]:
cube = 5 ** 3
print(cube)
cube**= 3
print(cube)

125
1953125

### String Input-Output

##### String Assignment

In [16]:
name = "Grady"
name = 'Grady'
print(name)

Grady

In [19]:
word = "Grady's"
print(word)

word = 'grady\'s'
print(word)

sentence = '"Grady\'s coat is awesome," he said.'
print(sentence)

long = """
hey
you!
"Aydee" is a genius
'Dak' not so much ...
"""
print(long)

line = "hey /n there he is a tab /t blah blah"
print(line)

Grady's
grady's
"Grady's coat is awesome," he said.

hey
you!
"Aydee" is a genius
'Dak' not so much ...

hey /n there he is a tab /t blah blah

##### print() <br>
<p>Don't forget about end=' '</p>

In [25]:
name = "Jalen"
print("hello", name, "the dawgs are no good", "get ready to get stung!",sep=' **', end='\n')
print("done")

hello **Jalen **the dawgs are no good **get ready to get stung!
done

##### String Concatenation

In [27]:
first = "Grady"
last = "Dickerson"
full_name = first + " " + last
print(full_name)

full_name += " is a funny individual"
print(full_name)

Grady Dickerson
Grady Dickerson is a funny individual

In [ ]:
new_string = ''

#do stuff.   this is what a lot of whiteboard problems start as

##### Type Conversion

In [28]:
# int() str() float() list() dict() tup() set()

num1 = 3
num2 = "4"

print(num1 + int(num2))

print(str(num1) + num2)

7
34

##### input()

In [30]:
age = input("what is your age?")

print(age)
print(type(age))

what is your age?22
22
<class 'str'>

##### format()

In [31]:
age = int(input("What is your age?"))
result_string = "you are {} years old and getting wiser".format(age)
print(result_string)

What is your age?22
you are 22 years old and getting wiser

#### f-strings

In [33]:
age = int(input("what's your age? "))
x = "blah blah blah is all I hear in class today"
result_string = f" You are {age} years old and getting wiser!  {x}"
print(result_string)

what's your age? 23
 You are 23 years old and getting wiser!  blah blah blah is all I hear in class today

##### Old Way (python 2)

In [ ]:
! - bang, exclamation point
# - pound sign, or hash
[] - brackets
() - parathesis 
{} - braces
#! - shebang
% - grapes
< - angle brackets / greater than or less than
^ carrot

In [32]:
age = "35"

result_str = "you are %s and you look great for your age!" %age
print(result_str)

you are 35 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [37]:
color = input("what color is your car? ")
year = input("what year is your car? ")
make = input("what make is your car? ")
model = input("what model is your car? ")

result_string = f"Your car is a {year} {make} {model} that has a slick {color} finish!"
print(result_string)

what color is your car? red
what year is your car? 2008
what make is your car? cadillac
what model is your car? sts
Your car is a 2008 cadillac sts that has a slick red finish!

In [39]:
5 == 5

True

In [40]:
bool(5)

True

In [41]:
bool("string")

True

In [42]:
bool("")

False

In [38]:
bool(0)

False

In [43]:
bool([1,2,3])

True

In [46]:
3 > 2

True

### If Statements

In [45]:
num1 = 2
num2 = 10
if num1 == num2:
    #code block
    print("equal")
else:
    print("not equal")

not equal

In [48]:
num1 = 20
num2 = 2
if num1 > num2:
    print("num1 is great")
elif num2 < num1:
    print("num2 is great")
else:
    print("they are equal")

num1 is great

In [49]:
True and False

False

In [50]:
True and True

True

In [51]:
False and False

False

In [53]:
True or True

True

In [52]:
True or False

True

In [55]:
if num2 == 2 and num1 == 20:
    print("yes")
else:
    print("no")

yes

In [59]:
#Ternary Operator
#in-line if statement (write them in one line)
name = "john"
#[value if true] [if] [boolean] [else] [value if false]
my_num = 5 if name == "steve" else 0
print(my_num)
my_num = 5 if name == "steve" else 10 if name == "john" else 0
print(my_num)

0
10

##### 'is' keyword

In [61]:
# only use this when asking if something is none until you get it figured out better
x = None
print(x)

x is None
x is not None
print(x)

None
None

##### 'in' keyword

In [62]:
#membership checks
char_name = "Max Payne"
if "Max" in char_name:
    print("the character who lost everything")

the character who lost everything

##### 'not in' keyword'

In [63]:
sega_char = "Sonic"
if "S" not in sega_char.upper():
    print("s is not in the name!")
else:
    print("s is in the name!")

s is in the name!

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [73]:
name = input("What is your name?")
if "P" in name.upper():
    print("P!")
else:
    print("no p :(")

What is your name?dell
no p :(

## Using 'and'/'or' with If Statements

### Elif Statements

### Else Statements

### For Loops

In [74]:
# for [placeholder] in [iterable]
name = "Gareth"

for letter in name:
    print(f"the next letter is {letter}")
    print("another line")
print("a third line")

the next letter is G
another line
the next letter is a
another line
the next letter is r
another line
the next letter is e
another line
the next letter is t
another line
the next letter is h
another line
a third line

##### Using 'in' keyword

##### Continue Statement

In [104]:
name = "Gareth"

for letter in name:
    if letter == "r":
        print("the letter is R!")
        continue #skips the rest of the loop and starts over
    print(f"the next letter is {letter}")
    print("another line")
print("a third line")

the next letter is G
another line
the next letter is a
another line
the letter is R!
the next letter is e
another line
the next letter is t
another line
the next letter is h
another line
a third line

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [105]:
name = "Gareth"

for letter in name:
    if letter == "r":
        print("the letter is R!")
        break #stops the rest of the loop
    print(f"the next letter is {letter}")
    print("another line")
print("a third line")

the next letter is G
another line
the next letter is a
another line
the letter is R!
a third line

0
1
2
3
4

##### Pass Statement

In [106]:
name = "Gareth"

for letter in name:
    pass #substitutes a codeblock and helps to not create an error


print("a third line")

a third line

In [88]:
foods = ["pizza", "taco", "dim sum", "sushi"]
for food in foods:
    print(food)

In [ ]:
len(foods)

In [109]:
list(range(0,8))
#range

[0, 1, 2, 3, 4, 5, 6, 7]

In [110]:
for index in [0,1,2,3]:
    print(index)
    print(foods[index])

0
pizza
1
taco
2
dim sum
3
sushi

In [112]:
x, y =(2,3)
print(x)
print(y)

2
3

In [114]:
#enumerate creates tuples from a list
for index, food in enumerate(foods):
    print("at index", index, "is the food:", food)

at index 0 is the food: pizza
at index 1 is the food: taco
at index 2 is the food: dim sum
at index 3 is the food: sushi

##### Double For Loops

In [116]:
counter = 0
for i in range(5):
    for j in range(5):
        counter += 1
        print(f"i={i}, j={j} total={counter}")
    print()

i=0, j=0 total=1
i=0, j=1 total=2
i=0, j=2 total=3
i=0, j=3 total=4
i=0, j=4 total=5

i=1, j=0 total=6
i=1, j=1 total=7
i=1, j=2 total=8
i=1, j=3 total=9
i=1, j=4 total=10

i=2, j=0 total=11
i=2, j=1 total=12
i=2, j=2 total=13
i=2, j=3 total=14
i=2, j=4 total=15

i=3, j=0 total=16
i=3, j=1 total=17
i=3, j=2 total=18
i=3, j=3 total=19
i=3, j=4 total=20

i=4, j=0 total=21
i=4, j=1 total=22
i=4, j=2 total=23
i=4, j=3 total=24
i=4, j=4 total=25

### While Loops

In [118]:
#while [boolean]:
    #do this codeblock
    
num = 0    
while num < 10:
    num += 1
    print(num)
    
num = 0    
while num < 10:
    print(num)
    num += 1

1
2
3
4
5
6
7
8
9
10
0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [120]:
while True:
    print("hello")
    num = int(input("guess the magic number!"))
    if num == 5:
        break

hello
guess the magic number!3
hello
guess the magic number!4
hello
guess the magic number!5

In [ ]:
while True:
    user_input = input("What do you want to do? Quit or Continue?")
    if user_input.lower == "continue":
        print("ok")
    if user_input.lower == "quit":
        break

##### While & For Loops Used Together

In [ ]:
num = 0
total = 0

while num < 5:
    print("while loop iteration: ", num)
    for i in range(5):
        total +=
        print("for")

### Built-In Functions

##### range()

In [6]:
#range(start, stop, step)
#range(stop)
#range(start, stop)
#these have to be numbers

##### len()

In [7]:
#gives you length of a list or an iterable

##### help()

In [121]:
#gives you help lol

help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [125]:
#anytime there is a variable in your code you should know what that data type is! this can help
num = 1
isinstance(num, str)

False

##### abs()

In [10]:
#the distance a number is from zero (absolute value)

### Try and Except

### Lists

##### Declaring Lists

In [75]:
names = ["Vanessa", "Patrick","Moises","Armani"]
print(names)

['Vanessa', 'Patrick', 'Moises', 'Armani']

##### Indexing a List

In [81]:
print(names[1])

a_list = [1,2,3,["a","b","c"],4]

print(a_list[3])
inner_list = a_list[3]

print(inner_list[2])

print(a_list[3][1])

a_list[4]
a_list[-2]

Patrick
['a', 'b', 'c']
c
b

['a', 'b', 'c']

In [87]:
names = ["Vanessa", "Patrick","Moises","Armani"]
#the one below is skipping every other one
print(names[::2])
#negative one reverses the list
print("Alex Smells!"[::-1])

#slicing
names[1:3]

my_string = "racecar"
if my_string == my_string[::-1]:
    print("It's a palindrome!")

['Vanessa', 'Moises']
!sllemS xelA
It's a palindrome!

##### .append()

In [90]:
names = ["Vanessa", "Patrick","Moises","Armani"]
names.append("Ramika")
print(names)

['Vanessa', 'Patrick', 'Moises', 'Armani', 'Ramika']

##### .insert()

In [92]:
names = ["Vanessa", "Patrick","Moises","Armani"]
names.insert(2, "Sabrina")
print(names)

['Vanessa', 'Patrick', 'Sabrina', 'Moises', 'Armani']

##### .pop()

In [94]:
names = ["Vanessa", "Patrick","Moises","Armani"]
names.pop()

'Armani'


##### .remove()

In [95]:
names = ["Vanessa", "Patrick","Moises","Armani"]
names.remove("Patrick")
print(names)

['Vanessa', 'Moises', 'Armani']

##### del()

In [98]:
names = ["Vanessa", "Patrick","Moises","Armani"]
del names[1]
print(names)

['Vanessa', 'Moises', 'Armani']

In [ ]:
#do not use del() in a for loop!!!!
names = ["Vanessa", "Patrick","Moises","Armani"]

for i in range(len(names)):
    print(names[i])
    if i == 2:
        del(names[i])
print(names)

##### Concatenating Two Lists

In [101]:
l1 = [1,2,3]
l2 = [4,5,6]
l1+l2 

l2.extend(l1)
l2

[4, 5, 6, 1, 2, 3]

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000, so if the cubed number is over 1000 break the loop.</p>

In [1]:
num = 0
while num ** 3 <= 1000:
    
    print(num ** 3)
    num += 1

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [13]:
for x in range(2, 100):
    if x > 1:
        for i in range(2, x):
            if (x%i) == 0:
                break
        else:
            print(x)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [2]:
age = int(input("What is your age? "))
if age < 18:
    print("kids")
elif age < 65:
    print("adults")
else:
    print("seniors")

What is your age? 32
adults